@tailwind base;
@tailwind components;
@tailwind utilities;


.utrecht-page-layout {
  min-block-size: 100svh;
}

.disabled-border-1 {
  border-color: var(--basis-color-disabled-fill-1, GrayText);
}

.maplibregl-canvas:focus-visible,
.dashed-focus:focus-visible {
  --_utrecht-focus-ring-box-shadow: 0 0 0 var(--utrecht-focus-outline-width, 0)
    var(--utrecht-focus-inverse-outline-color, transparent);
  box-shadow: var(--_utrecht-focus-ring-box-shadow);
  outline-color: var(--utrecht-focus-outline-color, revert);
  outline-offset: var(--utrecht-focus-outline-offset, revert);
  outline-style: var(--utrecht-focus-outline-style, revert);
  outline-width: var(--utrecht-focus-outline-width, revert);
  --_utrecht-link-state-text-decoration: var(
    --utrecht-link-focus-visible-text-decoration,
    var(--utrecht-link-focus-text-decoration)
  );
  --_utrecht-link-state-text-decoration-thickness: var(
    --utrecht-link-focus-visible-text-decoration-thickness,
    var(--utrecht-link-focus-text-decoration-thickness)
  );
}

.utrecht-textbox {
  --utrecht-form-control-placeholder-font-style: italic;
}

.utrecht-textbox.mobile {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: var(--basis-space-text-xs) !important;
}

.utrecht-alert__content-closable {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.utrecht-alert {
  --utrecht-paragraph-color: currentColor;
}

/* Page header */
.utrecht-logo__caption {
  display: none;
}

.utrecht-accordion__section > .utrecht-accordion__header > button > span {
  color: var(--basis-color-action-1-color-default);
  stroke: var(--basis-color-action-1-color-default);
}

.utrecht-accordion__section > .utrecht-accordion__panel {
  max-height: 50vh;
  overflow-y: auto;
}

.utrecht-accordion__section > .utrecht-accordion__header > button {
  border: 1px solid var(--basis-color-action-1-color-default);
  display: flex;
  align-items: center;
}

.utrecht-link.utrecht-link-list__link {
  display: flex;
  align-items: center;
}

.utrecht-accordion.mobile
  > .utrecht-accordion__section
  > .utrecht-accordion__header
  > button {
  max-inline-size: 100%;
  padding: var(--basis-space-text-md) !important;
}

.utrecht-accordion.mobile
  > .utrecht-accordion__section
  > .utrecht-accordion__header
  > button
  > span {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.utrecht-accordion.mobile .utrecht-paragraph,
.utrecht-accordion.mobile .utrecht-unordered-list {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.utrecht-accordion.mobile .utrecht-heading-4,
.utrecht-accordion.mobile .utrecht-heading-5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.utrecht-page-footer__content {
  --utrecht-link-color: currentColor;
  --utrecht-link-hover-color: currentColor;
  --utrecht-link-focus-background-color: var(--basis-focus-background-color);
  --utrecht-link-focus-color: var(--basis-focus-color);
}

.utrecht-listbox {
  /* This issue will be fixed in the design system. */
  max-inline-size: 100%;
}

.utrecht-button {
  /* This issue will be fixed in the design system. */
  min-block-size: max(
    var(--utrecht-button-min-block-size, 44px),
    fit-content
  ) !important;
  min-inline-size: max(
    var(--utrecht-button-min-inline-size, 44px),
    fit-content
  ) !important;
}

.utrecht-button.mobile {
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 100% !important;
  max-inline-size: 100%;
}

.utrecht-button--subtle.map-icon-button {
  background-color: var(--basis-color-default-bg-subtle);
  border: 1px solid var(--basis-color-action-1-color-default);
}

.utrecht-button--subtle.mobile {
  font-size: 1rem;
  line-height: 1.5rem;
}

.utrecht-alert-dialog {
  /* This issue will be fixed in the design system. */
  align-self: center;
  justify-self: center;
  overflow-block: auto;
  max-block-size: 100%;
  max-inline-size: 100%;
}

.utrecht-radio-button:focus {
  --_utrecht-radio-button-interactive-background-color: var(
    --_utrecht-radio-button-state-focus-background-color,
    var(--utrecht-radio-button-focus-background-color)
  ) !important;
  --_utrecht-radio-button-interactive-border-color: var(
    --_utrecht-radio-button-state-focus-border-color,
    var(--utrecht-radio-button-focus-border-color)
  ) !important;
  --_utrecht-radio-button-interactive-border-width: var(
    --_utrecht-radio-button-state-focus-border-width,
    var(--utrecht-radio-button-focus-border-width)
  ) !important;
  --_utrecht-radio-button-interactive-color: var(
    --_utrecht-radio-button-state-focus-color,
    var(--utrecht-radio-button-focus-color)
  ) !important;
}

.utrecht-checkbox--custom.utrecht-checkbox--html-input:focus:not(:checked) {
  background-image: none !important;
}

.utrecht-page-body.incident-map > .utrecht-page-body__content {
  padding: 0;
}

.utrecht-page-header.incident-map-header .utrecht-page-header__content {
  justify-self: flex-start;
  padding-block-end: var(--basis-space-inline-min-xl);
  padding-block-start: var(--basis-space-inline-min-xl);
  padding-inline: var(--basis-space-inline-min-xl);
  max-inline-size: 100%;
}

.utrecht-page-header.incident-map-header.mobile .utrecht-page-header__content {
  padding-block-end: var(--basis-space-inline-min-md);
  padding-block-start: var(--basis-space-inline-min-md);
  padding-inline: var(--basis-space-inline-min-md);
}

.utrecht-form-label.utrecht-form-label--checkbox {
  display: flex !important;
  flex-direction: row-reverse !important;
}

.utrecht-page-body.incident-map .utrecht-page-body__content {
  max-inline-size: 100%;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.utrecht-logo.mobile-header {
  display: flex;
  align-items: center;
  max-block-size: 192px;
  max-inline-size: 70px;
  min-block-size: 50px;
  min-inline-size: 70px;
}

.utrecht-button-link.mobile {
  font-size: 1.125rem;
  line-height: 0.75em;
}

.utrecht-button-link.mobile.full-width {
  max-inline-size: 100%;
  min-block-size: 100%;
  min-inline-size: 100%;
}

.utrecht-form-field-description {
  padding-bottom: 0.5rem;
}

.sr-only {
  padding: 0 !important;
}

h2.utrecht-heading-2 {
  padding-bottom: 0.5rem;
}
