@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.address__select {
    @apply flex transition duration-100 bg-white p-3 justify-between min-w-[150px] ring-1 ring-border hover:ring-2 hover:bg-hover focus:ring-2 focus:ring-focus outline-none focus-visible:outline-dashed focus-visible:outline-focus_visible focus-within:ring-2 focus-within:ring-focus focus-within:outline-dashed focus-within:outline-focus_visible;
}

.address__select-menu {
    @apply bg-white mt-[2px] border border-border w-full -ml-[2px];
    min-width: calc(100% + 4px);
}

.address__select-option {
    @apply px-3 py-3 border-y border-x border-transparent
}

.address__select-option__selected {
    @apply bg-hover
}

.address__select-option__focused {
    @apply bg-hover border-y border-focus border-x-transparent
}

.address__select-option__focused:is(:first-child) {
    @apply border-t-transparent;
}

.address__select-option__focused:is(:last-child) {
    @apply border-b-transparent;
}

/*todo: move*/
.empty-box {
    width: 100px;
    height: 100px;
}
.empty-box.border {
    border: 1px dashed rgb(118, 118, 118);
}

.file-upload-box {
    width: 100px;
    height: 100px;
    border: 1px dashed rgb(118, 118, 118);
}

.file-upload-box > label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.file-upload-box > span {
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 29px;
    left: 29px;
    border-radius: 50%;
    border: 1px solid rgb(0, 32, 92);
}