/* Set min-block-size to 100svh to better accommodate mobile screen sizes. */
.utrecht-body {
  min-block-size: 100svh !important;
}

.utrecht-textbox {
  --utrecht-form-control-placeholder-font-style: italic;
}

.utrecht-textbox.mobile {
  @apply text-lg;
  padding: var(--basis-space-text-xs) !important;
}

.utrecht-alert__content-closable {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.utrecht-alert {
  --utrecht-paragraph-color: currentColor;
}

/* page header */
.utrecht-logo__caption {
  display: none;
}

.utrecht-accordion__section > .utrecht-accordion__header > button > span {
  color: var(--basis-color-primary-fill-1);
  stroke: var(--basis-color-primary-fill-1);
}

.utrecht-accordion__section > .utrecht-accordion__panel {
  max-height: 50vh;
  overflow-y: auto;
}

.utrecht-accordion__section > .utrecht-accordion__header > button {
  border: 1px solid var(--basis-color-primary-fill-1);
  display: flex;
  align-items: center;
}

.utrecht-accordion.mobile > .utrecht-accordion__section > .utrecht-accordion__header > button {
  max-inline-size: 100%;
  padding: var(--basis-space-text-md) !important;
}

.utrecht-accordion.mobile > .utrecht-accordion__section > .utrecht-accordion__header > button > span {
  @apply text-lg;
}

.utrecht-accordion.mobile .utrecht-paragraph, .utrecht-unordered-list {
  @apply text-lg;
}

.utrecht-accordion.mobile .utrecht-heading-4, .utrecht-heading-5 {
  @apply text-lg;
}

.utrecht-page-footer__content {
  --utrecht-link-color: currentColor;
  --utrecht-link-hover-color: currentColor;
  --utrecht-link-focus-color: currentColor;
  --utrecht-link-focus-background-color: var(--utrecht-focus-background-color);
  --utrecht-link-focus-color: var(--utrecht-focus-color);
}

.utrecht-listbox {
  /* this issue will be fixed in the design system */
  max-inline-size: 100%;
}

.utrecht-button {
  /* this issue will be fixed in the design system */
  min-block-size: max(
      var(--utrecht-button-min-block-size, 44px),
      fit-content
  ) !important;
  min-inline-size: max(
      var(--utrecht-button-min-inline-size, 44px),
      fit-content
  ) !important;
}

.utrecht-button.mobile {
  @apply text-lg;
  width: 100% !important;
  max-inline-size: 100%;
}

.utrecht-button--subtle.map-icon-button {
  background-color: var(--basis-color-gray-50);
  border: 1px solid var(--basis-color-primary-fill-1);
}

.utrecht-button--subtle.mobile {
  @apply text-base;
}

.utrecht-alert-dialog {
  /* this issue will be fixed in the design system */
  align-self: center;
  justify-self: center;
  overflow-block: auto;
  max-block-size: 100%;
  max-inline-size: 100%;
}

.utrecht-radio-button:focus {
  --_utrecht-radio-button-interactive-background-color: var(
      --_utrecht-radio-button-state-focus-background-color,
      var(--utrecht-radio-button-focus-background-color)
  ) !important;
  --_utrecht-radio-button-interactive-border-color: var(
      --_utrecht-radio-button-state-focus-border-color,
      var(--utrecht-radio-button-focus-border-color)
  ) !important;
  --_utrecht-radio-button-interactive-border-width: var(
      --_utrecht-radio-button-state-focus-border-width,
      var(--utrecht-radio-button-focus-border-width)
  ) !important;
  --_utrecht-radio-button-interactive-color: var(
      --_utrecht-radio-button-state-focus-color,
      var(--utrecht-radio-button-focus-color)
  ) !important;
}

.utrecht-checkbox--custom.utrecht-checkbox--html-input:focus:not(:checked) {
  background-image: none !important;
}

.utrecht-page-body.incident-map > .utrecht-page-body__content {
  padding: 0;
}

.utrecht-page-header.incident-map-header .utrecht-page-header__content {
  justify-self: flex-start;
  padding-block-end: var(--basis-space-inline-min-x-large);
  padding-block-start: var(--basis-space-inline-min-x-large);
  padding-inline: var(--basis-space-inline-min-x-large);
  max-inline-size: 100%;
}

.utrecht-page-header.incident-map-header.mobile .utrecht-page-header__content {
  padding-block-end: var(--basis-space-inline-min-medium);
  padding-block-start: var(--basis-space-inline-min-medium);
  padding-inline: var(--basis-space-inline-min-medium);
}

.utrecht-form-label.utrecht-form-label--checkbox {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
}

.utrecht-page-body.incident-map .utrecht-page-body__content {
  max-inline-size: 100%;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.utrecht-logo.mobile-header {
  display: flex;
  align-items: center;
  max-block-size: 192px;
  max-inline-size: 70px;
  min-block-size: 50px;
  min-inline-size: 70px;
}

.utrecht-button-link.mobile {
  @apply text-lg;
  line-height: 0.75em;
}

.utrecht-button-link.mobile.full-width {
  max-inline-size: 100%;
  min-block-size: 100%;
  min-inline-size: 100%;
}