/* map */
.map-location-group {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

.map-fullscreen-group {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.map-list-group {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.map-location-alert {
  padding: 12px 16px !important;
}

.map-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75em !important;
}

.map-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-icon-button.mobile {
  padding: var(--basis-space-text-md);
  max-inline-size: fit-content;
}


.map-icon-button.mobile > .utrecht-icon {
  inset-block: 0 !important;
}

.map-close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  gap: 0 !important;
}

.map-button .utrecht-icon {
  inset-block: 0 !important;
}

.map-zoom-button-group {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  gap: 0.33rem !important;
  display: flex;
  flex-direction: column;
}

.map-alert-dialog__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.focused-map-marker {
  width: 42px;
  height: 42px;
  border-radius: 999px;
  background-color: red;
}

.signalen-modal-dialog {
  background-color: var(--signalen-modal-dialog-background-color, Canvas);
  color: var(--signalen-modal-dialog-color, CanvasText);
  z-index: var(--signalen-modal-z-index, 1);
}

.signalen-modal-dialog--cover-viewport {
  position: fixed;
  inset-inline-end: 0;
  inset-inline-start: 0;
  inset-block-end: 0;
  inset-block-start: 0;
  overflow-block: auto;
}
